force-app/main/default/flows/Negotiation_Review_opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Update Owner field and add to collection for update later.</description>
        <name>UpdateOwner</name>
        <label>UpdateOwner</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>OpportunityReview.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNegotiator.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunities_to_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityReview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityReview</targetReference>
        </connector>
    </assignments>
    <description>The opportunities in a Negotiation/Review stage when an account is suspended</description>
    <environments>Default</environments>
    <interviewLabel>Negotiation/Review - opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Negotiation/Review - opps</label>
    <loops>
        <description>Loop thru the Opportunities passed as subflow input.</description>
        <name>OpportunityReview</name>
        <label>OpportunityReview</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Review_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateOwner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Negotiation Team role information.</description>
        <name>GetNegotiationTeam</name>
        <label>GetNegotiationTeam</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNegotiator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negotiation_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get User record of the Negotiation Team.</description>
        <name>GetNegotiator</name>
        <label>GetNegotiator</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityReview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetNegotiationTeam.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>Opportunities_to_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetNegotiationTeam</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Opportunities_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Opps passed in that are in a Negotiation/Review Stage</description>
        <name>Review_Opps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
