force-app/main/default/flows/Opportunity_Updater.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <description>A flow that takes in a list of Opportunities and allows for updating of strategic values.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Updater {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Updater</label>
    <loops>
        <description>Loop the passed in opps and present to the user for updating</description>
        <name>Opportunity_Loop</name>
        <label>Opportunity Loop</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>Selected_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Opportunity</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>A screen to allow the updating of an opportunity</description>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opportunity_Loop</targetReference>
        </connector>
        <fields>
            <name>Update_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opp_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Opportunity_Loop.Name</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Opportunity_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opp_Close_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Opportunity_Loop.CloseDate</elementReference>
                    </defaultValue>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opp_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Opportunity_Loop.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Opp_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity_Loop.Description</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Loop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The collection of selected opportunities passed in by the parent flow</description>
        <name>Selected_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
