force-app/main/default/flows/Questionable_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Adds the current case to the RelatedCases record collection and adds the case ID from the current case to the CaseIdsCollection collection.</description>
        <name>AssignCasesToCollection</name>
        <label>Assign Records to Collections</label>
        <locationX>881</locationX>
        <locationY>2547</locationY>
        <assignmentItems>
            <assignToReference>RelatedCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateRelatedCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the current incident to the RelatedIncidents record collection and adds the incident ID from the current incident to the IncidentIdsCollection.</description>
        <name>AssignIncidentsToCollection</name>
        <label>Assign Records to Collections</label>
        <locationX>969</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>RelatedIncidents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetIncident</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncidentIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetIncident.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateRelatedIncidents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the current problem to the RelatedProblems record collection and adds the problem ID from the current problem to the ProblemIdsCollection collection.</description>
        <name>AssignProblemsToCollection</name>
        <label>Assign Records to Collections</label>
        <locationX>894</locationX>
        <locationY>1696</locationY>
        <assignmentItems>
            <assignToReference>RelatedProblems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetProblem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProblemIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetProblem.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateRelatedProblems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets CaseUpdateError to false. When the ReviewResults screen is shown, the value in CaseUpdateError determines whether the related cases are shown as completed or failed.</description>
        <name>ResetRelatedCaseError</name>
        <label>Reset Related Case Error</label>
        <locationX>876</locationX>
        <locationY>3531</locationY>
        <assignmentItems>
            <assignToReference>CaseUpdateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewResults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets IncidentUpdateError to false. When the ReviewResults screen is shown, the value IncidentUpdateError determines whether the related incidents are shown as completed or failed.</description>
        <name>ResetRelatedIncidentError</name>
        <label>Reset Related Incident Error</label>
        <locationX>1047</locationX>
        <locationY>1414</locationY>
        <assignmentItems>
            <assignToReference>IncidentUpdateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WereRelatedProblemsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ProblemUpdateError to false. When the ReviewResults screen is shown, the value in ProblemUpdateError determines whether the related problems are shown as completed or failed.</description>
        <name>ResetRelatedProblemError</name>
        <label>Reset Related Problem Error</label>
        <locationX>662</locationX>
        <locationY>2562</locationY>
        <assignmentItems>
            <assignToReference>ProblemUpdateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WereRelatedCasesSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ChangeRequestUpdateError to true. When the ReviewResults screen is shown, the value of ChangeRequestUpdateError determines whether the change request is shown as completed or failed.</description>
        <name>SetChangeRequestError</name>
        <label>Set Change Request Error</label>
        <locationX>478</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ChangeRequestUpdateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WereRelatedIncidentsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the status of the Change Request from GetCurrentChangeRequestRecord record variable to Closed.</description>
        <name>SetChangeRequestStatusToClosed</name>
        <label>Set Change Request Status to Closed</label>
        <locationX>327</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>GetCurrentChangeRequestRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateChangeRequestRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets NoRelatedIssuesSelected to true if the user hasn&apos;t selected any related issues. When the SelectCloseRelatedIssuesOptions screen is next shown, the DisplayTextSelectErrorMessage is displayed to the user.</description>
        <name>SetNoRelatedIssuesSelectedToTrue</name>
        <label>Set NoRelatedIssuesSelected to True</label>
        <locationX>456</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>NoRelatedIssuesSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectCloseRelatedIssuesOptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets CaseUpdateError to true. When the ReviewResults screen is shown, the value in CaseUpdateError determines whether the related cases are shown as completed or failed.</description>
        <name>SetRelatedCaseError</name>
        <label>Set Related Case Error</label>
        <locationX>543</locationX>
        <locationY>2981</locationY>
        <assignmentItems>
            <assignToReference>CaseUpdateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewResults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the status of the related case from GetCase record variable to Closed.</description>
        <name>SetRelatedCaseStatusToClosed</name>
        <label>Set Related Case Status to Closed</label>
        <locationX>1495</locationX>
        <locationY>2547</locationY>
        <assignmentItems>
            <assignToReference>GetCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignCasesToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets IncidentUpdateError to true. When the ReviewResults screen is shown, the value IncidentUpdateError determines whether the related incidents are shown as completed or failed.</description>
        <name>SetRelatedIncidentError</name>
        <label>Set Related Incident Error</label>
        <locationX>559</locationX>
        <locationY>1206</locationY>
        <assignmentItems>
            <assignToReference>IncidentUpdateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WereRelatedProblemsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the status of the related incident from GetIncident record variable to Closed.</description>
        <name>SetRelatedIncidentStatusToClosed</name>
        <label>Set Record Status to Closed</label>
        <locationX>1269</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>GetIncident.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignIncidentsToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ProblemUpdateError to true. When the ReviewResults screen is shown, the value in ProblemUpdateError determines whether the related problems are shown as completed or failed.</description>
        <name>SetRelatedProblemError</name>
        <label>Set Related Problem Error</label>
        <locationX>481</locationX>
        <locationY>2178</locationY>
        <assignmentItems>
            <assignToReference>ProblemUpdateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WereRelatedCasesSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the status of the related problem from the GetProblem record variable to Closed.</description>
        <name>SetRelatedProblemStatusToClosed</name>
        <label>Set Related Problem Status to Closed</label>
        <locationX>1470</locationX>
        <locationY>1695</locationY>
        <assignmentItems>
            <assignToReference>GetProblem.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignProblemsToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether an incident record was retrieved in the GetIncident element and whether the current incident is in the IncidentIdsCollection variable.</description>
        <name>CheckIncidentStatus</name>
        <label>What&apos;s the Related Incident Status?</label>
        <locationX>1470</locationX>
        <locationY>654</locationY>
        <defaultConnector>
            <targetReference>SetRelatedIncidentStatusToClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not in Collection (Default)</defaultConnectorLabel>
        <rules>
            <name>NoIncidentExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIncident</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRelatedIncidentError</targetReference>
            </connector>
            <label>Doesn’t Exist</label>
        </rules>
        <rules>
            <name>IncidentInCollection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncidentIdsCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>GetIncident.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <label>In Collection</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether any change request related issues with a type of case exist.</description>
        <name>DoRelatedCasesExist</name>
        <label>Related Cases Exist?</label>
        <locationX>683</locationX>
        <locationY>2706</locationY>
        <defaultConnector>
            <targetReference>IterateRelatedCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>NoRelatedCases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRelatedCaseError</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether any change request related issues with a type of incident exist.</description>
        <name>DoRelatedIncidentsExist</name>
        <label>Related Incidents Exist?</label>
        <locationX>723</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>IterateRelatedIncidents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>NoRelatedIncidents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedIncidents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRelatedIncidentError</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether any change request related issues with a type of problem exist.</description>
        <name>DoRelatedProblemsExist</name>
        <label>Related Problems Exist?</label>
        <locationX>682</locationX>
        <locationY>1843</locationY>
        <defaultConnector>
            <targetReference>IterateRelatedProblems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>NoRelatedProblems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedProblems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRelatedProblemError</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether any cases related to the change request don’t exist or were already added to the collection.</description>
        <name>IsRelatedCaseInCollection</name>
        <label>What&apos;s the Related Case Status?</label>
        <locationX>1488</locationX>
        <locationY>2754</locationY>
        <defaultConnector>
            <targetReference>SetRelatedCaseStatusToClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoCaseExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRelatedCaseError</targetReference>
            </connector>
            <label>Doesn’t Exist</label>
        </rules>
        <rules>
            <name>CaseInCollection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseIdsCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>GetCase.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateRelatedCases</targetReference>
            </connector>
            <label>In Collection</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether any problems related to the change request don’t exist or were already added to the collection.</description>
        <name>IsRelatedProblemInCollection</name>
        <label>What&apos;s the Related Problem Status?</label>
        <locationX>1460</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>SetRelatedProblemStatusToClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ProblemDoesNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProblem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRelatedProblemError</targetReference>
            </connector>
            <label>Doesn’t Exist</label>
        </rules>
        <rules>
            <name>ProblemInCollection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProblemIdsCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>GetProblem.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateRelatedProblems</targetReference>
            </connector>
            <label>In Collection</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the user has selected to close cases related to the change request.</description>
        <name>WereRelatedCasesSelected</name>
        <label>Related Cases Selected?</label>
        <locationX>140</locationX>
        <locationY>2650</locationY>
        <defaultConnector>
            <targetReference>ReviewResults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>CasesSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckboxCases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedCases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the user has selected to close incidents related to the change request.</description>
        <name>WereRelatedIncidentsSelected</name>
        <label>Related Incidents Selected?</label>
        <locationX>143</locationX>
        <locationY>931</locationY>
        <defaultConnector>
            <targetReference>WereRelatedProblemsSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IncidentsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckboxIncidents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedIncidents</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the user has selected at least one change request related issue.</description>
        <name>WereRelatedIssuesSelected</name>
        <label>Related Issues Selected?</label>
        <locationX>167</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>GetCurrentChangeRequestRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>NoIssuesSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckboxIncidents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckboxProblems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckboxCases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNoRelatedIssuesSelectedToTrue</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the user has selected to close problems related to the change request.</description>
        <name>WereRelatedProblemsSelected</name>
        <label>Related Problems Selected?</label>
        <locationX>107</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>WereRelatedCasesSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ProblemsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckboxProblems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedProblems</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>For use in the Flow Data Collections Specialist Superbadge challenge questions.</description>
    <environments>Default</environments>
    <interviewLabel>Questionable Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Questionable Flow</label>
    <loops>
        <description>Repeats actions in loop for each change request related issue record with a type of case retrieved in the GetRelatedCases element.</description>
        <name>IterateRelatedCases</name>
        <label>Iterate Over Related Cases</label>
        <locationX>873</locationX>
        <locationY>2794</locationY>
        <collectionReference>GetRelatedCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetCase</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRelatedCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions in loop for each change request related issue record with a type of incident retrieved in the GetRelatedIncident element.</description>
        <name>IterateRelatedIncidents</name>
        <label>Iterate Over Related Incidents</label>
        <locationX>1003</locationX>
        <locationY>828</locationY>
        <collectionReference>GetRelatedIncidents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetIncident</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRelatedIncidents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions in loop for each change request related issue record with a type of problem retrieved in the GetRelatedProblems element.</description>
        <name>IterateRelatedProblems</name>
        <label>Iterate Over Related Problems</label>
        <locationX>876</locationX>
        <locationY>1962</locationY>
        <collectionReference>GetRelatedProblems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetProblem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRelatedProblems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the case record with an ID that matches the related issue ID of the current change request related issue record. The result is stored in the Case from GetCase record variable.</description>
        <name>GetCase</name>
        <label>Get Case</label>
        <locationX>1498</locationX>
        <locationY>3031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsRelatedCaseInCollection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetRelatedCaseError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IterateRelatedCases.RelatedIssueId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the current change request record and stores it in the Change Request from GetCurrentChangeRequestRecord record variable.</description>
        <name>GetCurrentChangeRequestRecord</name>
        <label>Get Current Change Request Record</label>
        <locationX>157</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetChangeRequestStatusToClosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChangeRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the incident record with an ID that matches the related issue ID of the current change request related issue record. The result is stored in the Incident from GetIncident record variable.</description>
        <name>GetIncident</name>
        <label>Ge Incident</label>
        <locationX>1479</locationX>
        <locationY>925</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIncidentStatus</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetRelatedIncidentError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IterateRelatedIncidents.RelatedIssueId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the problem record with an ID that matches the related issue ID of the current change request related issue record. The result is stored in the Problem from GetProblem record variable.</description>
        <name>GetProblem</name>
        <label>Get Problem</label>
        <locationX>1471</locationX>
        <locationY>2170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsRelatedProblemInCollection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetRelatedProblemError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IterateRelatedProblems.RelatedIssueId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Problem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets change request related issues that have a type of case and stores them in the Change Request Related Issues from GetRelatedCases record collection.</description>
        <name>GetRelatedCases</name>
        <label>Get Change Request Issues</label>
        <locationX>450</locationX>
        <locationY>2697</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoRelatedCasesExist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetRelatedCaseError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChangeRequestId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChangeRequestRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets change request related issues that have a type of incident and stores them in the Change Request Related Issues from GetRelatedIncidents record collection.</description>
        <name>GetRelatedIncidents</name>
        <label>Get Change Request Issues</label>
        <locationX>514</locationX>
        <locationY>908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoRelatedIncidentsExist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetRelatedIncidentError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChangeRequestId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incident</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChangeRequestRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets change request related issues that have a type of problem and stores them in the Change Request Related Issues from GetRelatedProblems record collection.</description>
        <name>GetRelatedProblems</name>
        <label>Get Change Request Issues</label>
        <locationX>414</locationX>
        <locationY>1841</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoRelatedProblemsExist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetRelatedProblemError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChangeRequestId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Problem</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChangeRequestRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the relevant status</description>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>1222</locationX>
        <locationY>653</locationY>
        <connector>
            <targetReference>IterateRelatedIncidents</targetReference>
        </connector>
        <inputAssignments>
            <field>CleanStatus</field>
            <value>
                <stringValue>NotFound</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the current record in Change Request from GetCurrentChangeRequestRecord, changing the record status to Closed.</description>
        <name>UpdateChangeRequestRecord</name>
        <label>Update Change Request Record</label>
        <locationX>152</locationX>
        <locationY>742</locationY>
        <connector>
            <targetReference>WereRelatedIncidentsSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetChangeRequestError</targetReference>
        </faultConnector>
        <inputReference>GetCurrentChangeRequestRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates all related case records in the RelatedCases collection.</description>
        <name>UpdateRelatedCases</name>
        <label>Update Records</label>
        <locationX>873</locationX>
        <locationY>3076</locationY>
        <connector>
            <targetReference>ResetRelatedCaseError</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetRelatedCaseError</targetReference>
        </faultConnector>
        <inputReference>RelatedCases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates all related incident records in the RelatedIncidents collection.</description>
        <name>UpdateRelatedIncidents</name>
        <label>Update Records</label>
        <locationX>1047</locationX>
        <locationY>1230</locationY>
        <connector>
            <targetReference>ResetRelatedIncidentError</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetRelatedIncidentError</targetReference>
        </faultConnector>
        <inputReference>RelatedIncidents</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates related problem records from GetProblem, changing the record statuses to Closed.</description>
        <name>UpdateRelatedProblems</name>
        <label>Update Records</label>
        <locationX>876</locationX>
        <locationY>2278</locationY>
        <connector>
            <targetReference>ResetRelatedProblemError</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetRelatedProblemError</targetReference>
        </faultConnector>
        <inputReference>RelatedProblems</inputReference>
    </recordUpdates>
    <screens>
        <description>Allows users to review the results of the flow.</description>
        <name>ReviewResults</name>
        <label>Review Results</label>
        <locationX>148</locationX>
        <locationY>3532</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ReviewResults_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ReviewResults_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ClosedResults</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;We closed these items:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ChangeRequestClosed</name>
                    <fieldText>&lt;p&gt;Change Request&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ChangeRequestUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IncidentsClosed</name>
                    <fieldText>&lt;p&gt;Related Incidents&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CheckboxIncidents</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>IncidentUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ProblemsClosed</name>
                    <fieldText>&lt;p&gt;Related Problems&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CheckboxProblems</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ProblemUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CasesClosed</name>
                    <fieldText>&lt;p&gt;Related Cases&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CheckboxCases</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CaseUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ChangeRequestUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IncidentUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ProblemUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReviewResults_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ReviewResults_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErroredResults</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;We couldn’t close these items:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ChangeRequestFailure</name>
                    <fieldText>&lt;p&gt;Change Request&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ChangeRequestUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IncidentFailure</name>
                    <fieldText>&lt;p&gt;Related Incidents&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CheckboxIncidents</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>IncidentUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ProblemFailure</name>
                    <fieldText>&lt;p&gt;Related Problems&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CheckboxProblems</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ProblemUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CasesFailure</name>
                    <fieldText>&lt;p&gt;Related Cases&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CasesSelected</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CaseUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TroubleshootFailure</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;To troubleshoot the issue, see &lt;a href=&quot;/HelpAndTrainingDoor?version=2&amp;resource=https://help.salesforce.com/s/articleView?id=sf.incident_mgmt_flow_considerations.htm&quot; target=&quot;_blank&quot;&gt;Customer Service Incident Management flow considerations in Salesforce Help.&lt;/a&gt;&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>IncidentUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ProblemUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ChangeRequestUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows users to select one or more related issues to close when closing a change request.</description>
        <name>SelectCloseRelatedIssuesOptions</name>
        <label>Select Close-Related Issues Options</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WereRelatedIssuesSelected</targetReference>
        </connector>
        <fields>
            <name>SelectCloseRelatedIssuesOptions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectCloseRelatedIssuesOptions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTextSectionHeader</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!SectionHeaderSelectOptions}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DisplayTextScreenInstructions</name>
                    <fieldText>&lt;p&gt;Mark a Change Request and related Incidents, Problems, and Cases as Closed. Related issues may relate to more than one Change Request. Only directly-related issues are closed. Second-level related issues, like a Problem related to a Change Request&apos;s related Incident, must be manually closed.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DisplayTextCheckboxGroupLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!TextCheckboxGroupLabel}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CheckboxIncidents</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Related Incidents</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CheckboxProblems</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Related Problems</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CheckboxCases</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Related Cases</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DisplayTextSelectErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 6, 6);&quot;&gt;Select at least one related issue type.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NoRelatedIssuesSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_service_incident_mgmt__CRRI</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SelectCloseRelatedIssuesOptions</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>The section header for the SelectCloseRelatedIssuesOptions screen.</description>
        <name>SectionHeaderSelectOptions</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Close a Change Request and Its Related Issues&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>The label for the checkbox group in the SelectCloseRelatedIssuesOptions screen.</description>
        <name>TextCheckboxGroupLabel</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;*&lt;/span&gt;Related Issue Types&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Stores case IDs for case records that match change request related issue records with a type of case that were retrieved in the GetRelatedCases element. Is used to make sure that no duplicate records are added to the bulk update in the UpdateRelatedCases element.</description>
        <name>CaseIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Boolean value that indicates whether the cases were updated. This value affects how details are shown on ReviewResults screen.</description>
        <name>CaseUpdateError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Boolean value that indicates whether the change request was updated. This value affects how details are shown on ReviewResults screen.</description>
        <name>ChangeRequestUpdateError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores incident IDs for incident records that match change request related issue records with a type of incident that were retrieved in the GetRelatedIncidents element. Is used to make sure that no duplicate records are added to the bulk update in the UpdateRelatedIncidents element.</description>
        <name>IncidentIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incidentsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Incident</objectType>
    </variables>
    <variables>
        <description>Stores the Boolean value that indicates whether the incidents were updated. This value affects how details are shown on ReviewResults screen.</description>
        <name>IncidentUpdateError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoRelatedIssuesSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores problem IDs for problem records that match change request related issue records with a type of problem that were retrieved in the GetRelatedProblems element. Is used to make sure that no duplicate records are added to the bulk update in the UpdateRelatedProblems element.</description>
        <name>ProblemIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>problemsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Problem</objectType>
    </variables>
    <variables>
        <description>Stores the Boolean value that indicates whether the problems were updated. This value affects how details are shown on ReviewResults screen.</description>
        <name>ProblemUpdateError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores cases to be bulk updated in the UpdateRelatedCases element.</description>
        <name>RelatedCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>relatedIncidentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores incidents to be bulk updated in the UpdateRelatedIncidents element.</description>
        <name>RelatedIncidents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Incident</objectType>
    </variables>
    <variables>
        <description>Stores problems to be bulk updated in the UpdateRelatedProblems element.</description>
        <name>RelatedProblems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Problem</objectType>
    </variables>
</Flow>
