force-app/main/default/flows/Suspended_Account_Opportunity_Updater.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Transfer ownership of the flow to the Negotiation Team</description>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OpportunityOwnerRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the opps stage to Needs Analysis</description>
        <name>Update_Stage</name>
        <label>Update Stage</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Update_Opportunities.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Analysis</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the open opp is in negotiation/review or not</description>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Negotiation_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Opportunities.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation/Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner</targetReference>
            </connector>
            <label>Negotiation/Review</label>
        </rules>
    </decisions>
    <description>A flow to automatically update the opportunities related to the Suspended account.</description>
    <environments>Default</environments>
    <interviewLabel>Suspended Account - Opportunity Updater {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Suspended Account - Opportunity Updater</label>
    <loops>
        <description>Update the opportunities to a Needs analysis stage.</description>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Related_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Owners</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieve all the related opportunities to this Account that are not in a close won or lost status</description>
        <name>Get_Related_Records</name>
        <label>Get Related Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Insert the newly updated record</description>
        <name>Update_Current_Opp</name>
        <label>Update Current Opp</label>
        <locationX>528</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Opportunities</targetReference>
        </connector>
        <inputReference>Update_Opportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Suspended__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Owners</name>
        <label>Update Owners</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <flowName>Negotiation_Review_opps</flowName>
        <inputAssignments>
            <name>Review_Opps</name>
            <value>
                <elementReference>OpportunityOwnerRecords</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>OpportunityOwnerRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
